<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>216305056321-g57s2i9h4i5ta85nkmk60j8uolvvce8s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.216305056321-g57s2i9h4i5ta85nkmk60j8uolvvce8s</string>
	<key>API_KEY</key>
	<string>AIzaSyASTtROMggOIg-ueGXaLSK4-piUvWUj2Zg</string>
	<key>GCM_SENDER_ID</key>
	<string>216305056321</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.safal.qfxcloneFlutter</string>
	<key>PROJECT_ID</key>
	<string>qfxclone</string>
	<key>STORAGE_BUCKET</key>
	<string>qfxclone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:216305056321:ios:e86666778bdcd479b8e4c0</string>
</dict>
</plist>